{% extends "job.base.j2" %}
{% block header -%}
{% block arguments -%}
#SBATCH --job-name={{ job_id }}
{%- if nodes %}
#SBATCH --nodes={{ nodes }}{% endif %}
{%- if n_cpus or n_gpus %}
#SBATCH --cpus-per-task={{ n_cpus|default(n_gpus or 1) }}{% endif %}
{%- if n_gpus %}
#SBATCH --gres=gpu:={{ n_gpus }}{% endif %}
{%- if time %}
#SBATCH --time={{ time }}{% endif %}
{%- if email %}
#SBATCH --mail-type=ALL
#SBATCH --mail-user={{ email }}
{%- endif %}
#SBATCH --output={{ paths.output }}
{% for key, val in sbatch.items() -%}
    #SBATCH --{{ key|replace('_', '-') }}={{ val }}
{% endfor %}
{%- endblock %}

{{ super() }}
{%- endblock %}

{% block body -%}
{% block modules -%}
{% if modules -%}
##### Load Modules
    module purge
    {% for module in modules -%}
        module load {{ module }}
    {% endfor %}
{% endif -%}
{% endblock -%}

{{ super() }}

{% endblock -%}