{% block header %}
#########################
#
# Job Batch: {{ name }}
# Params:
{{ params|pprint|prefixlines('# ') }}
#
#########################
{% endblock %}

{% block body %}
{{ run_init_script }}

{% for path in job_paths -%}
    sbatch "{{ path }}"
{% endfor %}
{% endblock %}
