{% extends "run_pipeline.base.j2" %}

{% block body %}
{% for group in job_groups -%}
    {% for jid in group -%}
        . "{{ job_id_to_path[jid] }}" &
    {% endfor %}
    wait
    
{% endfor %}
{% endblock %}

