{% block header %}
#########################
#
# Job Batch: {{ name }}
#
#########################
{% endblock %}

{% block body %}
{% for group in job_groups -%}
    {% for jid in group -%}
        . "{{ job_id_to_path[jid] }}"
    {% endfor %}
{% endfor %}
{% endblock %}

